    html,
    body {
      height: 100%;
      background-color: #212529;
      color: #fff;
      text-align: center;
       font-family: 'Roboto', system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    }
       .fw-300 { font-weight: 300; };
       
       .fw-400 { font-weight: 400; }
    .fw-500 { font-weight: 500; }
    .fw-700 { font-weight: 700; }
    

    .cover-container {
      max-width: 42em;
    }

    .nav-link {
      color: rgba(255, 255, 255, 0.5);
    }

    .nav-link:hover,
    .nav-link:focus {
      color: #fff;
    }

    .nav-link.active {
      color: #fff;
    }

            .custom-letter-spacing {
          letter-spacing: 0.2em; /* Adjust as needed (e.g., 2px, -1px) */
        }
